p[name="bacon"]{color:palevioletred}
p[name="lucky"]{color:lightsalmon}
p[name="luckster"]{color:salmon}
p[name="blub"]{color:#FFABB7;}
h2[name="dog"]{color:palevioletred}
.lucky{
    text-align: center;
}
h4[name="parasyte"]{color:palevioletred}
h3[name="migi"]{color:palevioletred}
p[name="shinnichi"]{color:palevioletred}
.luckster{
   text-align:center;
}
footer {
    padding: 50px;
    margin-top:0px;
    color name=:#F8F8FF;
    background-color:#ffc6d0;
    text-align: center;    
}
#boxes .box {
    float: left;
    text-align: center;
    width: 23%;
    padding: 1px;
}
div {
    display: block;
}
#boxes {
    margin-top:-60px;
}
.footer {
    background-color: #DB7093;
    margin-top: 350px;
    padding: 1px;
    text-align: center;
}
.bakugo {
    text-align: center;
}
.mlerm {
    text-align: center;    
}
.godhelpme {
    text-align: center;    
}