p[name="bacon"]{color:palevioletred}
p[name="lucky"]{color:lightsalmon}
p[name="luckster"]{color:salmon}
p[name="blub"]{color:#FFABB7;}
h2[name="dog"]{color:palevioletred}
.lucky{
    text-align: center;
}
h4[name="parasyte"]{color:palevioletred}
.luckster{
   text-align:center;
}
footer {
    padding: 20px;
    margin-top: 100px;
    color name=:#F8F8FF;
    background-color:#ffc6d0;
    text-align: center;
    text-decoration: overline
    font-family: Lucida;
}