p[name="bacon"]{color:palevioletred}
p[name="lucky"]{color:lightsalmon}
p[name="luckster"]{color:salmon}
p[name="blub"]{color:#FFABB7;}
h2[name="dog"]{color:palevioletred}
.lucky{
    text-align: center;
}
h5[name="parasyte"]{color:palevioletred}
.luckster{
   text-align:center;
}